<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-container">
      <% if (typeof guest !== 'undefined') { %>
      <div class="welcome-msg">Hello, <%= guest.name %></div>
      <a href="/Logout">Log Out</a>
      <% } else { %>
      <div class="logout-btn">
        <a href="/auth/google">Login with Google</a>
      </div>
      <% } %>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light nav-color">
      <ul class="nav justify-content-center">
        <li class="nav-box">
          <div class="">
            <a class="nav-link active link-dark" href="/">Home</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="">
            <a class="nav-link link-dark" href="/hotels">Hotels</a>
          </div>
        </li>
        <li class="">
          <div class="nav-box">
            <a class="nav-link link-dark" href="/reservations">My Bookings</a>
          </div>
        </li>
      </ul>
    </nav>
    <h3 class="hotel-name-book-pg">Update reservation for <%=hotel.name%> </h3>

    <form action="/reservations/<%=reservation.id%>?_method=PUT" method="POST">
      <div class="date-container">
        <div class="form-outline datepicker check-in">
          <input
            type="datetime-local"
            class="form-control"
            id="exampleDatepicker2"
            name="checkIn"
            value="<%=currentCheckIn%>"
            min=""
          />
          <label class="form-label">Check In</label>
        </div>

        <div class="form-outline datepicker check-in">
          <input
            type="datetime-local"
            class="form-control"
            id="exampleDatepicker2"
            name="checkOut"
            value="<%=currentCheckOut%>"
            min=""
          />
          <label class="form-label">Check Out</label>
        </div>
      </div>

      <div class="form-container">
      <div class="form-option">
        <div class="options-container">
          <label>Number of Rooms </label>
          <div class="room-left">
          <select name="numberOfRooms">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </div>
        </div>

        <div class="options-container">
          <label>Number of Guests </label>
          <select name="numberOfGuests">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </div>
      </div>
      
      <div class="room-price-container">
        <div class="push"></div>
        <div class="room-type-left">
            <label>Room Type</label>
          
            <select name="roomType" class="room-type">
              <option value="">Select One</option>
              <option value="StandardRoom">Standard Room</option>
              <option value="DeluxeRoom">Deluxe Room</option>
              <option value="LuxurySuite">Luxury Suite</option>
            </select>
            
          </div>
      
          
            
            <label class="price-label">Price Per Room:</label>
            <input
              class="results"
              type="text"
              name="price"
              placeholder="$CAD"
              value=""
              readonly
            />
          </div>
          </div>

    <div class="book-res-btn">
      <input
        type="submit"
        class="btn button-color btn-bold"
        value="Update Reservation"
      />
    </div>
    </form>
  </div>

  <div class="room-img-container">
    <div>
      <h5>Standard Room</h5>
      <img src="<%=hotel.standard%>" class="room-img">
    </div>
    <div>
      <h5>Deluxe Room</h5>
      <img src="<%=hotel.deluxe%>" class="room-img">
    </div>
    <div>
      <h5>Luxury Suite</h5>
      <img src="<%=hotel.suite%> " class="room-img" />
    </div>
  </div>


    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
    ></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
