<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-container">
      <% if (typeof guest !== 'undefined') { %>
      <div class="welcome-msg">Welcome, <%= guest.name %></div>
      <a href="/Logout">Log Out</a>
      <% } else { %>
      <div class="logout-btn">
        <a href="/auth/google">Login with Google</a>
      </div>
      <% } %>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light nav-color">
      <ul class="nav justify-content-center">
        <li class="nav-box">
          <div class="">
            <a class="nav-link active" href="/">Home</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="">
            <a class="nav-link" href="/hotels">Hotels</a>
          </div>
        </li>
        <li class="">
          <div class="nav-box">
            <a class="nav-link" href="/reservations">My Bookings</a>
          </div>
        </li>
      </ul>
    </nav>

    <% reservations.forEach(function(el){%>
    <h3>Reservation Details:</h3>
    <h4><%=hotels.name%></h4>
    <div>
      <p>Check-in Date: <%= el.checkIn.toDateString() %></p>
      <p>Check-out Date: <%= el.checkOut.toDateString() %></p>
      <p>Number of Guests: <%= el.numberOfGuests %></p>
      <p>Number of Rooms: <%= el.numberOfRooms %></p>
      <p>Room Type: <%= el.roomType %></p>
      <p>Price: <%= el.price %></p>

      <form action="/reservations/<%=el._id%>?_method=DELETE" method="POST">
        <button type="submit" class="btn button-color">
          Cancel Reservation
        </button>
      </form>

      <a href="/reservations/<%=el._id%>/edit "
        ><button class="btn button-color">Update Reservation</button></a
      >

      <%}) %>
    </div>
  </body>
</html>
