<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-container">
      <% if (typeof guest !== 'undefined') { %>
      <div class="welcome-msg">Welcome, <%= guest.name %></div>
      <a href="/Logout">Log Out</a>
      <% } else { %>
      <div class="logout-btn">
        <a href="/auth/google">Login with Google</a>
      </div>
      <% } %>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light nav-color">
      <ul class="nav justify-content-center">
        <li class="nav-box">
          <div class="">
            <a class="nav-link active" href="/">Home</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="">
            <a class="nav-link" href="/hotels">Hotels</a>
          </div>
        </li>
        <li class="">
          <div class="nav-box">
            <a class="nav-link" href="/reservations">My Bookings</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="details-container">
      <% reservations.forEach(function(el){%>

      <div class="details-each-container">
        <img src="<%=el.hotelId[0].image%>%> " class="details-img" />
        <div class="details-text">
          <h3><%=el.hotelId[0].name%></h3>
          <h5>Reservation Details:</h5>
          <p>Check-in Date: <span><%= el.checkIn.toDateString() %></span></p>
          <p>Check-out Date: <span><%= el.checkOut.toDateString() %></span></p>
          <p>Number of Guests: <span><%= el.numberOfGuests%></span></p>
          <p>Number of Rooms: <span><%= el.numberOfRooms %></span></p>
          <p>Room Type: <span><%= el.roomType %></span></p>
          <p>Price: <span><%= el.price %></span></p>
        </div>

        <div class="btn-contaner">
          <div class="delete-btn">
            <form
              action="/reservations/<%=el._id%>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn button-color btn-bold">
                Cancel
              </button>
            </form>
          </div>
          <div class="update-btn">
            <a href="/reservations/<%=el._id%>/edit "
              ><button class="btn button-color btn-bold">Update</button></a
            >
          </div>
        </div>
      </div>
      <%}) %>
    </div>
  </body>
</html>
